@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-primary: #4e7ce9;
  --color-danger: #FBB030;
  --color-success: #a6b9e4;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: linear-gradient(to bottom right, #FDF8EE, #b0cefa);

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* ================= DARK THEME=========================== */

.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}



/* ================= PAGE =========================== */

*{
  margin: 0; 
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
  font-size: 14px;
}

body
{
  background: var(--color-background);
  width: 100vw;
  height: 140vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  user-select: none; 
  overflow-x: hidden; 
  /* overflow-y: hidden;  */
  color: var(--color-dark);
  
}

.container
{
 
  background: var(--color-background);
  display: grid;
  grid-template-columns: 14rem auto;
  width: 98%;
  gap: 1.8rem;
  
}

/* Style the scrollbar track (background) */
::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar width */
}

/* Handle (the moving part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #0b518a; /* Soft pastel blue */
  border-radius: 10px; /* Rounded edges for a smoother look */
  border: 2px solid #E3F2FD; /* Light border for a soft effect */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1797ff; /* Slightly darker pastel blue on hover */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #FAFAFA; /* Light pastel gray */
  border-radius: 10px;
}

/* Scrollbar track when scrollbar is active */
::-webkit-scrollbar-track-piece {
  background: #E3F2FD; /* Soft blue tint for a cohesive look */
}



.middle-div
{
  display: grid; 
  grid-template-rows: 90px auto;
}

.navbar-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
} 

.nav-dashboard-button{
  display:none; 
}

.nav-dashboard-div
{
  display: flex; 
  justify-content: start; 
  align-items: center;
}

.nav-left-div
{
  display: flex; 
  justify-content: end; 
  align-items: center;
}

.dashboard-content
{
  display: grid; 
  grid-template-columns: 2fr 1fr;
  gap: 1.8rem;

}

.dash-middle{
  display: grid; 
  grid-template-rows: 200px 1fr;
  gap: 1.8rem;

}

a 
{
  color: var(--color-dark);
}

img{
  display: block; 
  width: 100%; 
}

.profile-photo{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow-x: hidden;
}

h1{
  font-weight: 800;
  font-size: 1.8rem;
}

h2{
  font-size: 1.4rem;
}

h3{
  font-size: 0.87rem;
}

h4{
  font-size: 0.8rem;
}

h5{
  font-size: 0.77rem;
}

small{
  font-size: 0.75rem;
}


p{
  color: var(--color-dark-variant)
}

b{
  color: var(--color-dark)
}

.text-muted{
  color: var(--color-info-dark)
}

.primary{
  color: var(--color-primary)
}

.danger{
  color: var(--color-danger)
}

.success{
  color: var(--color-success)
}

.warning{
  color: var(--color-warning)
}

/* ================= CALENDAR 
=========================== */
.calendar-container {
  background: var(--color-white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  text-align: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.add-event {
  background-color: black;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.calendar {
  display: grid;
  grid-template-rows: auto 1fr;
}
.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.day, .empty {
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  background: var(--color-background);
  cursor: pointer;
  font-size: 16px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.day:hover {
  background: #f0f0f0;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: var(--color-white);
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 2000;
}
.close-event {
  float: right;
  font-size: 18px;
  cursor: pointer;
}


/* =================  EVENT TABLE=========================== */

.container-events { 
  margin-top: 30px; 
  width: 100%;
  max-width: 1000px;
  background: var(--color-white);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}

.controls {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.controls input {
  padding: 8px;
  width: 60%;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.controls button {
  padding: 8px 12px;
  border: none;
  background-color: var(--color-primary);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #768faa;
  color: white;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f1f1f1;
}
@media (max-width: 600px) {
  table {
      font-size: 14px;
  }
  th, td {
      padding: 8px;
  }
}



/* ================= ASIDE/SIDEBAR =========================== */

aside
{
  height: 100vh;

}

aside .top{
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-top: 1.9rem;
}

aside .logo {
  display: flex; 
  gap: 0.8rem; 
}

aside .logo img{
  width: 2rem;
  height: 2rem;
}

aside .close{
  display:none; 
}

aside h3{
  font-weight: 500;
}



/*============== SIDEBAR ===============================*/

aside .sidebar{
  background: var(--color-white);
  display: flex;
  flex-direction: column; 
  height: 750px;
  position: relative;
  top: 2.6rem;
}

aside .sidebar a
{
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child{
  position: absolute;
  bottom: 2rem; 
  width: 100%;
}

aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.active:before {
  content: '';
  width: 6px;
  height: 100%;
  background: var(--color-primary);  
}

aside .sidebar a.active span{
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
  color: var(--color-primary);
}

aside .sidebar a:hover span{
  margin-left: 1rem;
}


/* ================= MAIN =========================== */
main{
  margin-top: 1.4rem;
}



main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .insights > div{
  background: var(--color-white);
  padding: 19px;
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .insights > div:hover{
  box-shadow: none;
}
main .insights > div span{
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}

main .insights > div.events span{
  background: var(--color-danger);
}
main .insights > div.polls span{
  background: var(--color-success);
}

main .insights > div .middle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .insights h3{
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

main .insights .progress{
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .insights svg{
  width: 7rem; 
  height: 7rem;
}

main .insights circle{
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dasharray: 92;
}

main .insights .members svg circle{
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}
main .insights .events svg circle{
  stroke-dashoffset: 10;
  stroke-dasharray: 80;
}
main .insights .polls svg circle{
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}

main .insights .progress .number{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .insights small{
  margin-top: 1.3rem;
  display: block;
}

.mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mid .left {
  flex: 1;
  margin-right: 1rem; 
}

.mid .progress {
  flex-shrink: 0; 
}

/* ================= TABLE AND CAROUSEL =========================== */

main .recent-orders 
{
  margin-top: 5rem;
}
main .recent-orders h2
{
  margin-bottom: 0.8rem;
}
main .recent-orders table
{
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .recent-orders table:hover
{
  box-shadow: none;
}

main table tbody td
{
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table tbody tr:last-child td
{
  border: none;
}

main .recent-orders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}

.carousel-container {
  margin-top: 60px;
  position: relative;
  width: 100%;
  max-width: 800px; 
  overflow: hidden;
  border-radius: var(--border-radius-2);
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  padding: 20px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px 16px;
  font-size: 18px;
  border-radius: 50%;
  transition: 0.3s;
}

.carousel-btn:hover {
  background: var(--color-primary);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


/* ================= RIGHT =========================== */


.nav-left-div 
{
  display: flex;
  justify-content: end;
  gap: 2rem;
} 

.nav-left-div button
{
  display: none;
}

.nav-left-div  .theme-toggler
{
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.nav-left-div  .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.nav-left-div  .theme-toggler span.active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}

.nav-left-div  .profile{
  display: flex;
  gap: 2rem;
  text-align: right;
}


/* ================= RECENT UPDATES ========================== */

.right .recent-updates
{
  margin-top: 1rem;
}
.right .recent-updates h2
{
  margin-bottom: 0.8rem;
}
.right .recent-updates .updates
{
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.right .recent-updates .updates:hover
{
  box-shadow: none;
}
.right .recent-updates .updates .update
{
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;

}


/* ================= SALES/STUDENT ANALYTICS ========================= */

.right .sales-analytics
{
  margin-top: 2rem;
}

.right .sales-analytics h2
{
  margin-bottom: 0.8rem;
}

.right .sales-analytics .item
{
  background: var(--color-white);
  display: flex;
  align-items: center;
  grid: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.right .sales-analytics .item:hover
{
 box-shadow: none;
}

.right .sales-analytics .item .right
{
  display: flex;
  justify-content: space-between;
  align-items: start;
  
  margin: 0 0 0 6px; 
  width: 100%;
}
.right .sales-analytics .item .icon
{
  padding: 0.6rem;
  color: var(--color-white);
  border-radius: 50%;
  background: var(--color-primary);
  display: flex;
}
.right .sales-analytics .item.offline .icon
{
  background: var(--color-danger);
}
.right .sales-analytics .item.customers .icon
{
  background: var(--color-success);
}
.right .sales-analytics .add-product
{
  background-color: transparent;
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .sales-analytics .add-product div
{
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.right .sales-analytics .add-product div h3
{
  font-weight: 600;
}



/* ================= MEDIA QUERIES/ RESPONSIVENESS ========================= */

@media screen and (max-width: 1200px){

  .container
  {
    width: 94%;
    grid-template-columns: 5rem auto;
  }
  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3{
    display: none;
  }
  aside .sidebar a{
    width: 5.6rem;
  }
  aside .sidebar a:last-child{
    position: relative;
    margin-top: 1.8rem;
  }
  
  main .insights{
    grid-template-columns: 1fr;
    gap: 3;
  }
  main .recent-orders{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .recent-orders table{
    width: 100%;
    margin: 0;
  }
.middle-bottom{
  margin-top: 450px
}


  main table thead tr th:last-child, main table thead tr th:first-child{
    display: none;
  }
  main table tbody tr td:last-child, main table tbody tr td:first-child{
    display: none;
  }
}



/* ================= MEDIA QUERIES MOBILE RESPONSIVENESS ==================== */

@media screen and (max-width: 768px){

  .container
  {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .dashboard-content
  {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 1.8rem;

  }

  aside{
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;

  }

  @keyframes showMenu {
    to{
      left: 0;
    }
  }
  aside .logo{
    margin-left: 1rem;
  }

  aside .logo h2{
    display: inline;
  }
  aside .sidebar h3{
    display: inline;
  }
  aside .sidebar a{
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child{
    position: absolute;
    bottom: 5rem;
  }

  aside .close{
    display: inline-block;
    cursor: pointer;
  }
  
  main{
    margin-top: 4rem;
    padding: 0 1rem;
  }

  main .recent-orders{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .recent-orders table{
    width: 100%;
    margin: 0;
  }

  .right{
    width: 94%;
    margin: 0 auto 4rem;
  }

  .navbar-div{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }

  .right .top .theme-toggler{
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }

  .navbar-div .profile .info
  {
    display: none;
  }

  .navbar-div button{
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem; 
  }
  .nav-dashboard-button{
    display: inline-block;
  }

  .nav-dashboard-div{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    justify-content: end;
  }

  .right .top button span {
    font-size: 2rem;
  }

  .carousel-container {
    max-width: 100%;
    margin-top: 100px;
  }

  .carousel-btn {
    padding: 10px;
    font-size: 16px;
  }

}