{% extends "navbar.html" %}
{% load static %}
{% block content %}

<h2>Create a Poll</h2>

{% if user.memberships.filter(club=club, membership_type='leader').exists %}
  <form method="post">
      {% csrf_token %}
      {{ poll_form.as_p }}

      <h3>Add {{ num_choices }} Choices</h3>
      {% for form in choice_forms %}
          {{ form.as_p }}
      {% endfor %}

      <button type="submit">Create Poll</button>
  </form>
{% else %}
  <p>You must be a club leader to create polls.</p>
{% endif %}

<a href="{% url 'polls:poll_list' %}">Back to Polls</a>
{% endblock content %}
