{% extends "navbar.html" %}
{% block content %}
<div class="max-w-lg mx-auto mt-10">
  <h2>Select Number of Choices</h2>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Next</button>
  </form>
</div>

<h2>Active Polls</h2>
<ul>
  {% for poll in club.polls.all %}
    <li>
      <a href="{% url 'polls:view_poll' poll.id %}">{{ poll.question }}</a>
      (Created by {{ poll.created_by.name }})
    </li>
  {% empty %}
    <li>No active polls.</li>
  {% endfor %}
</ul>
{% endblock %}
