{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>


  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="{{ csrf_token }}" />
  <title>Club Management System</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />


  {% block extra_head %}{% endblock extra_head %}
 
  <style>
    .navbar-div {
      position: fixed;
      height: 80px;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      padding: 10px 20px;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }


    .content-div {
      margin-top: 80px;
      padding: 20px;
    }


    .emu-top {
      display: grid;
      justify-content: start;
      align-items: center;


    }


    .emu-logo {
      display: flex;
      gap: 0.8rem;
    }


    .emu-logo img {
      width: 2rem;
      height: 2rem;
    }
  </style>
</head>


<body>
  <div class="container-css">
    <div class="sidebar-div">
      <aside>
        <div class="top">
          <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
          </div>
        </div>


        <div class="sidebar">
          {% if is_leader %}
          <!-- Club Leader Sidebar -->
          <div class="dropdown">
            <a href="#" class="dropdown-toggle">
              <span class="material-icons-sharp">grid_view</span>
              <h3>Club Leader</h3>
              <span class="material-icons-sharp dropdown-icon">arrow_drop_down</span>
            </a>
            <div class="dropdown-menu">
              <a href="{% url 'club_leader:dashboard' %}">Club Leader Dashboard</a>
              <a href="{% url 'club_leader:club_members' %}">Club Members</a>
              <a href="{% url 'club_leader:calendar' %}">Event Management</a>
              <a href="{% url 'club_leader:list_upcoming_events' %}">Pending Events</a>
              <a href="{% url 'club_leader:list_documents' %}">Documents</a>
              <a href="{% url 'club_leader:list_announcements' %}">Announcements</a>
              <a href="{% url 'club_leader:faq_leader' %}">Leader FAQ</a>


            </div>
          </div>
          {% endif %}


          {% if is_member %}
          <!-- Club Member Sidebar -->
          <div class="dropdown">
            <a href="#" class="dropdown-toggle">
              <span class="material-icons-sharp">campaign</span>
              <h3>Club Member</h3>
              <span class="material-icons-sharp dropdown-icon">arrow_drop_down</span>
            </a>
            <div class="dropdown-menu">
              <a href="{% url 'club_member:dashboard' %}">Dashboard</a>
              <a href="{% url 'club_member:member_announcements' %}">Announcements</a>
              {% if election and election.is_nomination_open and not user_already_nominated %}
              <a href="{% url 'voting:self_nominate' %}">Nominate Yourself</a>
              {% endif %}
              <a href="{% url 'club_member:submit_feedback' %}">Submit Feedback</a>
              <a href="{% url 'club_member:event_calendar' %}">Events</a>
              <a href="{% url 'club_member:contact' %}">Contact</a>
              {%if election and election.has_started and not election.has_ended %}
              <a href="{% url 'voting:elections' %}">Vote Now</a>
              {% endif %}
            </div>
          </div>
          {% endif %}
          <!-- Club Member and Club Leader Sidebar -->
       
          {% if user.get_role == "activity_center_admin" %}
          <a href="{% url 'activity_center_admin:dashboard' %}">
            <span class="material-icons-sharp">admin_panel_settings</span>
            <h3>Admin Panel</h3>
          </a>
          <a href="{% url 'activity_center_admin:club_list' %}">
            <span class="material-icons-sharp">admin_panel_settings</span>
            <h3>Manage Clubs</h3>
          </a>
          <a href="{% url 'activity_center_admin:event_list' %}">
            <span class="material-icons-sharp">admin_panel_settings</span>
            <h3>Manage Events</h3>
          </a>
          <a href="{% url 'activity_center_admin:announcement_list' %}">
            <span class="material-icons-sharp">admin_panel_settings</span>
            <h3>Manage Announcements</h3>
          </a>
          <a href="{% url 'activity_center_admin:manage_nominations' %}">
            <span class="material-icons-sharp">admin_panel_settings</span>
            <h3>Self-Nominations</h3>
          </a>
          <a href="{% url 'activity_center_admin:manage_elections' %}">
            <span class="material-icons-sharp">admin_panel_settings</span>
            <h3>Manage Elections</h3>
          </a>
          {% endif %}


          {% if not is_leader and not is_member and not user.get_role == "activity_center_admin"%}
          <a href="{% url 'users:udashboard' %}">
            <span class="material-icons-sharp">dashboard</span>
            <h3>User Dashboard</h3>
          </a>

          {% endif %}

          <a href="{% url 'users:profile' %}">
            <span class="material-icons-sharp">person</span>
            <h3>Profile</h3>
          </a>
          {% if is_leader or is_member %}
          <a href="{% url 'messaging:rooms' %}">
            <span class="material-icons-sharp">how_to_reg</span>
            <h3>Messaging</h3>
          </a>

          {% endif %}

          {% if is_member or user.get_role == "user" %}
          <a href="{% url 'club_member:faq_user_member' %}">
            <span class="material-icons-sharp">how_to_reg</span>
            <h3>FAQ</h3>
          </a>
          {% endif %}

          <a href="{% url 'account_logout' %}" class="logout-btn">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
    </div>

    <div class="middle-div">
      <div class="navbar-div">
        <div class="emu-top">
          <div class="nav-dashboard-button">
            <button id="menu-btn">
              <span class="material-icons-sharp">menu</span>
            </button>
          </div>
          <div class="emu-logo">
            <img src="{% static 'emu.png' %}" alt="EMU Logo" />
            <h2>EMU <span class="primary">A.CENTER</span></h2>
          </div>
        </div>
        <div class="nav-left-div">
          <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
          </div>
          <div class="profile">
            <div class="info">
              <p>Welcome <b>{{ user.name }}!</b></p>
              <small class="text-muted">{{ user.get_role }}</small>
            </div>
            <div class="profile-photo">
              <img src="{{ user.profile_picture.url|default_if_none:'/static/profile_pictures/default.jpg' }}" alt="Profile Picture" />
            </div>
          </div>
        </div>
      </div>
      <div class="content-div">{% block content %}{% endblock content %}</div>
    </div>
  </div>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>

